# Ignora virtual environment
venv/

# Cache di Python
__pycache__/
*.py[cod]
*.class

# File temporanei
*.log
*.tmp
*.logs

# Configurazioni locali
.env

# Cache e metadati di pacchetti
*.egg-info/
.eggs/
dist/
build/

# File di sistema
.DS_Store
